<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="profile/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8" />
</head>

<body>
	<div class="navbar">
		<a href="#"><img class="icon" src="newsfeed/img/discovery.png"></a>
		<a href="profile.html"><img class="icon" src="newsfeed/img/me.png"></a>
		<a href="news.html"><img class="icon" src="newsfeed/img/feed.png"></a>
		<div class="src-container">
			<form action="#">
				<input type="text" placeholder="Search..." onfocus="this.placeholder=''" onblur="this.placeholder = 'Search...'" name="search" />
			</form>
		</div>
	</div>
    <div class="post-container">
        <div class="author">
			<div class="author-name">My Profile</div>
		</div>
		<img class="avatar" src="newsfeed/img/avatar.jpg">
		<div class="counter">
			<a href="#"><b>1</b> posts</a>
			<a href="#"><b>311</b> followers</a>
			<a href="#"><b>349</b> following</a>
		</div>
		<div class="profile-container">
			<div class="profile-heading">Profile Infomation</div>
			<div class="profile-body">Username <br><b>kissd97</b></div>
			<div class="profile-body">Full name <br><b>Kiss Dávid</b></div>
			<div class="profile-body">Bio <br><b>Roses are red, violets are blue, all that I love, is the smell of the poo.</b></div>
		</div>
		<div class="profile-container">
			<div class="profile-heading">Personal Infomation</div>
			<div class="profile-body">Email <br><b>info@mail.com</b></div>
			<div class="profile-body">Phone <br><b>+1 23 456-789</b></div>
		</div>
    </div>
</body>

</html>