<app-navigation></app-navigation>
<a href="/newsfeed" class="central-btn">&larr; Back</a>
<div class="post-container">
  <div class="title">Create Post</div>
  <div class="create">
    <form (ngSubmit)="doCreatePost()">
      <textarea name="post" placeholder="Share your thoughts..." onfocus="this.placeholder=''" onblur="this.placeholder = 'Share your thoughts...'" [(ngModel)]="createPostDto.text"></textarea>
      <br><br>
      <input type="submit" value="Share">
      <input type="reset" value="Clear">
    </form>
  </div>
</div>
