<app-navigation></app-navigation>
<a href="/editprofile" class="central-btn">Edit Profile</a>
<div class="post-container">
  <div class="title">My Profile</div>
  <img class="avatar-full" src="assets/images/newsfeed/avatar.jpg">
  <div class="counter">
    <a href="#"><b>1</b> posts</a>
    <a href="#"><b>311</b> followers</a>
    <a href="#"><b>349</b> following</a>
  </div>
  <div class="profile-container">
    <div class="profile-heading">Profile Infomation</div>
    <div class="profile-body"><b>Username</b><br>kissd97</div>
    <div class="profile-body"><b>Full name</b><br>Kiss Dávid</div>
    <div class="profile-body"><b>Bio</b><br>Roses are red, violets are blue, all that I love, is the smell of the poo.</div>
  </div>
  <div class="profile-container">
    <div class="profile-heading">Personal Infomation</div>
    <div class="profile-body"><b>Email</b><br>info@mail.com</div>
    <div class="profile-body"><b>Phone</b><br>+1 23 456-789</div>
  </div>
</div>
