<a href="/profile" class="central-btn">&larr; Back</a>
<div class="post-container">
  <div class="title">My Profile</div>
  <img class="avatar-full" src="assets/images/newsfeed/avatar.jpg">
  <div class="counter">
    <a href="#"><b>{{followersAndFollowingResponse.posts}}</b> posts</a>
    <a href="#"><b>{{followersAndFollowingResponse.followers}}</b> followers</a>
    <a href="#"><b>{{followersAndFollowingResponse.following}}</b> following</a>
  </div>
  <form (ngSubmit)="updatePersonalData()">
    <div class="profile-container">
      <div class="profile-heading">Profile Infomation</div>
      <div class="profile-body"><b>Username</b><br>{{personalResponse.personalData.username}}</div>
      <div class="profile-body"><b>Full name</b><br><input type="text" name="fullName" [(ngModel)]="updateProfile.fullName"></div>
      <div class="profile-body"><b>Bio</b><br><input type="text" name="bio" [(ngModel)]="updateProfile.bio"></div>
    </div>
    <div class="profile-container">
      <div class="profile-heading">Personal Infomation</div>
      <div class="profile-body"><b>Email</b><br>{{personalResponse.personalData.email}}</div>
      <div class="profile-body"><b>Phone</b><br><input type="text" name="phoneNumber" [(ngModel)]="updateProfile.phoneNumber"></div>
    </div>
    <input type="submit" value="Save">
    <input type="reset" value="Clear">
  </form>
</div>
