<body>
<app-navigation></app-navigation>
<a href="/newpost" class="central-btn">+ Create post</a>
<div *ngFor="let post of posts" class="post-container">
  <div class="author">
    <img class="avatar" src="assets/images/newsfeed/avatar.jpg" alt="Profile Picture">
    <div class="author-name">{{post.userName}}</div>
  </div>
  <p class="author-date">{{post.postDate}}</p>
  <div class="content">
    <p class="content-text">{{post.text}}</p>
  </div>
  <div class="like-section">
    <button class="like"></button>
    <p class="like-text">256 likes</p>
  </div>
</div>

</body>
