<body>
<app-navigation></app-navigation>
<a href="/newpost" class="central-btn">+ Create post</a>
<div class="post-container">
  <div class="author">
    <img class="avatar" src="assets/images/newsfeed/avatar.jpg" alt="Profile Picture">
    <div class="author-name">kissd97</div>
  </div>
  <p class="author-date">2019. 01. 23.</p>
  <div class="content">
    <img class="content" src="assets/images/newsfeed/content.jpg" alt="Post Content">
    <p class="content-text">If you say Jesus backwards, it sounds like sausage. Sausage is innuendo for "dick," and a sausage party is a party full of guys. Two men putting their sausages together is gay. Jesus is trying to say that gay sex is backwards and not in alignment with his word. Therefore, being gay is a sin. lmao</p>
  </div>
  <div class="like-section">
    <button class="like"></button>
    <p class="like-text">256 likes</p>
  </div>
</div>

</body>
