<div class="navbar">
  <a><div class="logout" (click)="logout()"><i class="fas fa-sign-out-alt"></i></div></a>
  <a href="/profile" ><div class="logout"><i class="fas fa-user"></i></div></a>
  <a href="/newsfeed" ><div class="logout"><i class="fas fa-stream"></i></div></a>
  <div class="src-container">
    <form>
      <input type="text" placeholder="Search..." onfocus="this.placeholder=''" onblur="this.placeholder = 'Search...'" name="search" [(ngModel)]="req"/>
      <button type="submit" style="display:none" (click)="search()">Search</button>
    </form>
  </div>
</div>
