<body>
<div class="container">
  <div class="login">
    <form (ngSubmit)="doLogin()">
      <h1 class="title">Bejelentkezés</h1>

      <label for="username" class="body">Felhasználónév</label>
      <br>
      <input type="text" name="username" required [(ngModel)]="loginModel.username">
      <br>

      <label for="password" class="body">Jelszó</label>
      <br>
      <input type="password" name="password" required [(ngModel)]="loginModel.password">
      <br>

      <label for="remember" class="body">
        <input type="checkbox" checked="checked" name="remember" required>Jegyezze meg a felhasználónevet.
        <br>
      </label>

      <button type="submit">Bejelentkezés</button>

    </form>
  </div>
  <div id="reg" class="signup">
    <form (ngSubmit)="doRegistration()">
      <h1 class="title">Regisztráció</h1>

      <label for="username" class="body">Felhasználónév</label>
      <br>
      <input type="text" name="username" required [(ngModel)]="regModel.username">
      <br>

      <label for="fullname" class="body">Név</label>
      <br>
      <input type="text" name="fullname" required [(ngModel)]="regModel.fullname">
      <br>

      <label for="email" class="body">Email</label>
      <br>
      <input type="text" name="email" required [(ngModel)]="regModel.email">
      <br>

      <label for="password" class="body">Jelszó</label>
      <br>
      <input type="password" name="password" required [(ngModel)]="regModel.password">
      <br>

      <label for="password-re" class="body">Jelszó ismét</label>
      <br>
      <input type="password" name="password-re" required [(ngModel)]="regModel.password_re">
      <br>

      <label for="privacy" class="body">
        <input type="checkbox" name="privacy" required [(ngModel)]="regModel.isAcceptAgreement">Elfogadom az <a href="#">adatvédelmi szabályzatot</a>.
        <br>
      </label>

      <button type="submit">Regisztráció</button>

    </form>
  </div>
</div>
</body>
